{% extends "base.html" %}


{% block title %}
AC - Build
{% endblock %}

{% block content %}
<div class="container2" style="margin-top: 10px; ">
    &nbsp;
    <a href="/dashboard?user_role={{ user_role }}" class="nav-link-text">Back</a>

    {% if user_role %}
    &nbsp;<h4 style="color: black;"> ROLE : {{user_role}}</h4>
    {% else %}
    &nbsp; <h4 class="nav-link-text text-red"> ROLE - Select a User Role</h4>
    {% endif %}
</div>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Results for Role: </title>
    <style>
        i {
            color: black;
        }

        .custom-file-input {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="file"] {
            position: absolute;
            background-color: rgb(148, 142, 142);
            font-size: 10px;
            opacity: 0;
        }
    </style>
</head>

<body>

    <div style="text-align: center; font-size:larger">

        <p style="text-align: center; font-size:larger"> <b> Network Traffic - AD Build </b></p>

    </div>

    {% include 'NT/ntNavbar.html' %}

    <br />

    <section class="vh-10" style="margin-top: 20px; overflow-x: hidden;">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-12 col-xl-11">
                <div class="card text-white p-md-5"
                    style="border-radius: 25px; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <h1>Build Models</h1>
                                <i> Build a new AI model for anomaly detection </i>
                                <nav>
                                    <ul id="navbar">

                                        <!-- Links will be populated here -->
                                    </ul>
                                </nav>
                                <form action="/submit_form" method="POST" style="color: black; "
                                    enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="modelType">Model Type</label>
                                        <select class="form-control" id="modelType" name="modelType"
                                            placeholder="Select Model Type" required>
                                            <option value="Neural Network">Neural Network</option>
                                            <option value="XGBoost">XGBoost</option>
                                            <option value="LightGBM">LightGBM</option>
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <label for="ImageFile" style="color: black;">Dataset:</label>
                                        <div class="custom-file-input">
                                            <input type="file" id="ImageFile" name="ImageFile" class="custom-file-input"
                                                required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="featureList">Feature List</label>
                                        <select class="form-control" id="featureList" name="featureList"
                                            placeholder="Select Feature Type" required>
                                            <option value="Raw Features">Raw Features</option>
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label for="trainingRatio">Training Ratio</label>
                                        <input type="text" class="form-control" id="trainingRatio" name="trainingRatio"
                                            placeholder="Enter Training Ratio" required />
                                    </div>

                                    <br />
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



    <p id="selectedValue"></p>
    <script src="../../../website/constants.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>




{% endblock %}