{% extends "base.html" %} {% block title %}Spatial{% endblock %} {% block content %}


<style>
    .user-details {
        margin-top: 20px;
        padding: 20px;
        border: 2px solid #ddd;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    .user-details p {
        font-size: 18px;
        margin: 10px 0;
        color: red;
    }

    /* Add more styles as needed */
</style>
<div class="container-fluid" autoFocus='false'>


    <div class="user-details">
        <h1 class="jumbotron-text display-1 text-center mb-0" style="font-size: 150px;">
            <!-- <p class="lead jumbotron-text text-center mb-0 "> <b>Unauthorized Page..Go Back!!</b></p> -->
            <h1 class="display-4 text-center">Unauthorized Page</h1>
            <p class="lead text-center">You do not have permission to access this page. Please go back to the home page.
            </p>
        </h1>

    </div>
</div>




{% endblock %}